.container {
  margin-bottom: 15rem;
  padding-bottom: 5rem;
  background-color: var(--border2);
}

.content {
  padding: 5rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.cardContainer {
  border: 2px solid var(--border);
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.desc {
  opacity: 0.7;
}

.imgContainer {
  position: relative;
  height: 250px;
  width: 100%;
  font-size: 0;
  border: 3px solid var(--border);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  border-radius: 8px;
  object-fit: cover;
  font-size: 0;
  border: 3px solid var(--secondary);
}

@media screen and (max-width: 920px) {
  .content {
    padding: 2rem;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 2rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
