.container {
  margin-bottom: 20rem;
}

.content {
  padding: 5rem;
}

.top {
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(89, 31, 206, 0.2);
}

.bottom {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.left,
.right {
  flex: 1;
}

.imgContainer {
  position: relative;
  height: 600px;
}

.img {
  object-fit: cover;
  font-size: 0;
  border-radius: 10px;
  border: 5px solid rgba(89, 31, 206, 0.2);
}
