.container {
  margin-bottom: 15rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  position: relative;
  margin-top: 3rem;
}

.lableContainer {
  margin-bottom: 1rem;
}

.highlight {
  background-color: var(--navy);
  color: var(--secondary);
  padding: 0.05rem 1rem;
  border-radius: 10px;
}

.left,
.right {
  width: 100%;
  flex: 1;
}

.copy {
  margin-top: 3rem;
  font-family: var(--azeretMono);
  font-size: 1.9rem;
  color: var(--text);
  opacity: 0.7;
  width: 95%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.icon {
  position: relative;
  top: 3px;
}

.socialsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.socialIconContainer {
  color: var(--textGray);
  border: 2px solid var(--border);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right {
  position: relative;
}

.right::after {
  content: "";
  top: 30%;
  left: 0;
  position: absolute;
  filter: blur(20rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  z-index: -1;
}

.right::before {
  content: "";
  top: 10%;
  right: 50%;
  position: absolute;
  filter: blur(20rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--accent2);
  z-index: -1;
}

.imgContainer {
  height: 600px;
  position: relative;
  border-radius: 10px;
  border: 4px solid var(--border);
  border-radius: 15px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.rtContainer {
  margin-top: 0rem;
  position: absolute;
  z-index: 2;
  left: -50px;
  bottom: -50px;
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .rtContainer {
    left: 40%;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .highlight { 
    margin-left: 0rem;
  }
  
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {  
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .imgContainer {
    height: 450px;
  }

  .img {
    object-fit: cover;
  }
}

