.container {
  margin-bottom: 15rem;
  padding-bottom: 5rem;
  position: relative;
}

.container::after {
  content: "";
  top: -3%;
  left: 0;
  position: absolute;
  filter: blur(15rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 300px;
  height: 100px;
  background-color: var(--accent2);
  z-index: -1;
}

.container::before {
  content: "";
  bottom: -5%;
  right: 10%;
  position: absolute;
  filter: blur(10rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 250px;
  height: 100px;
  background-color: var(--accent1);
  z-index: -1;
}

.content {
  padding: 5rem;
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.heading {
  font-size: 10rem;
  line-height: 100%;
  width: 90%;
  color: var(--primary);
  text-decoration: none;
}

.form {
  /* background-color: var(--secondary); */
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 8px;
  border: 1px solid var(--primary);
  width: 100%;
}

.namesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.labelInputBox {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1.5rem;
  flex: 1;
  width: 100%;
}

.labelInputBox label {
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--text);
  padding-left: 0.3rem;
}

.labelInputBox input,
.labelInputBox textarea {
  border-radius: 8px;
  border-color: var(--border);
  border-width: 1px;
  height: 40px;
  width: 100%;
  color: var(--text);
  padding: 1rem;
  width: 100%;
}

.labelInputBox span {
  font-family: var(--roboto);
  font-size: 1.4rem;
  color: rgb(140, 139, 139);
}

.labelInputBox textarea {
  height: 130px;
  resize: vertical;
}

.btnBtnContainer {
  margin-top: 3rem;
}

.btnContainer {
  position: relative;
  display: block;
  width: fit-content;
  z-index: 1;
}

.btnContainer::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -7px;
  top: 9px;
  width: 98%;
  height: 93%;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.btn {
  text-align: center;
  font-size: 1.8rem;
  white-space: nowrap;
  border-radius: 5px;
  user-select: none;
  transition: all 0.1s ease-in;
  display: inline-block;
  padding: 10px 35px;
  font-weight: 700;
  color: var(--neutral);
  background-color: var(--primary);
  border: 2.7px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn:active {
  transform: translate(7px, 7px);
}

@media screen and (max-width: 958px) {
  .content {
    padding: 2rem;
  }

  .bottom {
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .container::after {
    width: 100px;
    height: 100px;
    background-color: var(--accent2);
    z-index: -1;
  }

  .container::before {
    width: 100px;
    height: 100px;
    background-color: var(--accent1);
  }

  .content {
    padding: 1rem;
  }

  .namesContainer {
    flex-direction: column;
  }

  .btnBtnContainer {
    display: grid;
    width: 100%;
  }
}
