.container {
  margin-bottom: 5rem;
  position: relative;
}

.container::after {
  content: "";
  top: -3%;
  left: 0;
  position: absolute;
  filter: blur(15rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 300px;
  height: 100px;
  background-color: var(--accent2);
  z-index: -1;
}

.container::before {
  content: "";
  bottom: -5%;
  right: 10%;
  position: absolute;
  filter: blur(10rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 250px;
  height: 100px;
  background-color: var(--accent1);
  z-index: -1;
}

.content {
  padding: 5rem;
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.heading {
  font-size: 4.8rem;
  /* line-height: 100%; */
  width: 90%;
  color: var(--primary);
  text-decoration: none;
}

.form {
  padding: 2rem;
  padding-bottom: 3rem;
  border-radius: 8px;
  border: 1px solid var(--primary);
  width: 100%;
}

.namesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.labelInputBox {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1.5rem;
  flex: 1;
  width: 100%;
}

.labelInputBox label {
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--text);
  padding-left: 0.3rem;
}

.labelInputBox input,
.labelInputBox textarea {
  border-radius: 8px;
  border-color: var(--border);
  border-width: 1px;
  height: 40px;
  width: 100%;
  color: var(--text);
  padding: 1rem;
  width: 100%;
  font-family: var(--roboto);
  font-weight: 400;
}

.labelInputBox span {
  font-family: var(--roboto);
  font-size: 1.4rem;
  color: rgb(140, 139, 139);
}

.labelInputBox textarea {
  height: 130px;
  resize: vertical;
}

.required {
  color: red !important;
}

.btnBtnContainer {
  margin-top: 3rem;
}



@media screen and (max-width: 958px) {
  .content {
    padding: 2rem;
  }

  .bottom {
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .container::after {
    width: 100px;
    height: 100px;
    background-color: var(--accent2);
    z-index: -1;
  }

  .container::before {
    width: 100px;
    height: 100px;
    background-color: var(--accent1);
  }

  .content {
    padding: 1rem;
  }

  .namesContainer {
    flex-direction: column;
    gap: 0rem;
  }

  .btnBtnContainer {
    display: grid;
    width: 100%;
  }
}
