.container {
  margin-bottom: 15rem;
  padding-bottom: 5rem;
}

.content {
  padding: 5rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.left,
.right {
  flex: 1;
}

.heading {
  font-family: var(--staatliches);
  font-size: 6rem;
  line-height: 100%;
  width: 90%;
  color: var(--primary);
  text-decoration: none;
}

.form {
  /* background-color: var(--secondary); */
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--primary);
}

@media screen and (max-width: 820px) {
  .content {
    padding: 2rem;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 1rem;
  }
}
