.container {
  margin-bottom: 10rem;
}

.top {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainHeading {
  text-align: center;
}

.topText {
  font-family: var(--azeretMono);
  font-size: 1.9rem;
  opacity: 0.7;
  font-weight: 400;
  width: 60%;
  margin-top: 1rem;
  text-align: center;
}

.lableContainer {
  margin-bottom: 2rem;
}

.imgContainer {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--border3);
}

.img {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
}

.heading {
  color: var(--navy);
}

.highlight {
  background-color: var(--navy);
  color: var(--secondary);
  padding: 0.05rem 1rem;
  border-radius: 10px;
  user-select: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.detailsCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  background-color: var(--navy);
  padding: 3rem;
  border-radius: 10px;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.detailsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.card {
  background-color: var(--gray3);
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid var(--border3);
  width: 100%;
}

.copy {
  margin-bottom: 1rem;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.heading,
.copy,
.cardHeading,
.cardCopy {
  color: var(--white);
}

.cardHeading2 {
  font-family: var(--chakraPetch);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.copy,
.cardCopy {
  opacity: 0.7;
  font-family: var(--outfit);
}

.cardCopy {
  font-family: var(--outfit);
}

@media screen and (max-width: 1068px) {
  .detailsCard {
    padding: 3rem;
  }
  .content,
  .detailsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .top,
  .lableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .left {
    align-items: center;
  }

  .topText,
  .mainHeading {
    width: 100%;
    text-align: center;
  }

  .detailsContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
