.container {
  padding: 5rem 0rem;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 930px) {
  .top,
  .bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
