.label {
  font-size: 1.2rem;
  font-family: var(--roboto) !important;
  padding: 5px 15px;
  background-color: var(--accent1);
  color: var(--text);
  border-radius: 5px;
  border: 1px solid var(--border);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  display: inline-block;
}
