.label {
  font-size: 1.3rem;
  font-family: var(--azeretMono) !important;
  text-transform: capitalize;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 1rem;
  display: inline-block;
}
