.container {
  animation: fadeIn 1s;
}

.pageIntroContainer {
  margin-bottom: 8rem;
}

.container2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
  margin-top: 3rem;
  background-color: var(--border2);
  border-radius: 8px;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.right::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  filter: blur(20rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: var(--accent1);
  z-index: -1;
}

.right::before {
  content: "";
  top: 0;
  right: 10%;
  position: absolute;
  filter: blur(20rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: var(--accent2);
  z-index: -1;
}

.top,
.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

.rightLeft {
  width: 200px;
  height: 200px;
  border-top-left-radius: 200px;
  position: relative;
  border: 1px solid var(--primary);
}

.img {
  object-fit: cover;
  border-top-left-radius: 200px;
}

.rightRight {
  width: 200px;
  height: 200px;
  position: relative;
}

.bottomLeft {
  width: 200px;
  height: 200px;
  border-bottom-left-radius: 200px;
  border: 1px solid var(--primary);
  position: relative;
}

.img2 {
  object-fit: cover;
  border-bottom-left-radius: 200px;
}

.bottomRight {
  width: 200px;
  height: 200px;
}

.img3 {
  object-fit: cover;
  border-top-right-radius: 200px;
  border: 1px solid var(--primary);
}

.heading {
  padding: 1rem;
  width: 200px;
  height: 200px;
  text-align: right;
  line-height: 100%;
  border: 1px solid var(--primary);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.copy {
  opacity: 0.7;
  text-align: justify;
  width: 80%;
  margin-right: auto;
}

@media screen and (max-width: 968px) {
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .container {
    flex-direction: column;
    padding: 2rem;
    padding-top: 5rem;
  }

  .right::after {
    top: 0px;
    width: 150px;
    height: 150px;
  }

  .right::before {
    top: 0px;
    width: 100px;
    height: 100px;
    filter: blur(10rem);
  }

  .container2 {
    flex-direction: column-reverse;
    padding: 2rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 1rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0rem;
  }

  .rightLeft {
    width: 150px;
    height: 150px;
  }

  .rightRight {
    width: 150px;
    height: 150px;
  }

  .img {
    border-top-left-radius: 150px;
  }

  .bottomLeft {
    width: 150px;
    height: 150px;
  }

  .img2 {
    border-bottom-left-radius: 150px;
  }

  .bottomRight {
    width: 150px;
    height: 150px;
    border-bottom-right-radius: 150px;
  }

  .heading {
    width: 150px;
    height: 150px;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 390px) {
  .rightLeft {
    width: 120px;
    height: 120px;
  }

  .rightRight {
    width: 120px;
    height: 120px;
  }

  .img {
    border-top-left-radius: 120px;
  }

  .bottomLeft {
    width: 120px;
    height: 120px;
  }

  .img2 {
    border-bottom-left-radius: 120px;
  }

  .bottomRight {
    width: 120px;
    height: 120px;
    border-bottom-right-radius: 120px;
  }

  .heading {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 358px) {
  .rightLeft {
    width: 130px;
    height: 130px;
  }

  .rightRight {
    width: 130px;
    height: 130px;
  }

  .img {
    border-top-left-radius: 130px;
  }

  .bottomLeft {
    width: 130px;
    height: 130px;
  }

  .img2 {
    border-bottom-left-radius: 130px;
  }

  .bottomRight {
    width: 130px;
    height: 130px;
    border-bottom-right-radius: 130px;
  }

  .heading {
    width: 130px;
    height: 130px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
