.btnContainer {
  position: relative;
  display: block;
  width: fit-content;
  z-index: 1;
}

.btnContainer::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -7px;
  top: 9px;
  width: 98%;
  height: 93%;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.btn {
  text-align: center;
  font-size: 1.8rem;
  white-space: nowrap;
  border-radius: 5px;
  user-select: none;
  transition: all 0.1s ease-in;
  padding: 10px 35px;
  font-weight: 700;
  color: var(--neutral);
  background-color: var(--primary);
  border: 2.7px solid var(--primary);
  display: grid;
  width: fit-content;
  cursor: pointer;
}

.disabled {
  background-color: #9f94b5;
  border: 2.7px solid #9f94b5;
}

.btn:active {
  transform: translate(7px, 7px);
}


@media screen and (max-width: 568px) {
  .btnContainer, .btn {
    display: grid;
    width: 100%;
  }
}