.btnContainer {
  position: relative;
  display: block;
  width: fit-content;
  z-index: 1;
}

.btn {
  font-family: var(--azeretMono);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  white-space: nowrap;
  border-radius: 30px;
  user-select: none;
  /* transition: all 0.1s ease-1in; */
  display: inline-block;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  background-color: var(--secondary);
  border: 2px solid var(--border);
  gap: 1rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.disabled {
  background-color: #9f94b5;
  border: 2.7px solid #9f94b5;
}

.btn:active {
  transform: translate(7px, 7px);
}


@media screen and (max-width: 568px) {
  .btnContainer, .btn {
    display: grid;
    width: 100%;
  }
}