.container {
  margin-bottom: 8rem;
  position: relative;
}

.container::after {
  content: "";
  top: -3%;
  left: 0;
  position: absolute;
  filter: blur(10rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: var(--accent1);
  z-index: -1;
}

.container::before {
  content: "";
  bottom: -5%;
  right: 10%;
  position: absolute;
  filter: blur(15rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: var(--accent2);
  z-index: -1;
}

.content {
  padding: 5rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.card {
  background-color: var(--border2);
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 3rem;
}

.planName {
  font-size: 3rem;
  text-decoration: none;
}

.description {
  opacity: 0.7;
  margin: 2rem 0;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.hr {
  border-color: var(--border2);
  margin-bottom: 2rem;
}

.price {
  font-size: 5rem;
}

.span {
  font-size: 3.5rem;
}

.includes {
  font-weight: 700;
  text-decoration: underline;
}

.featuresList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.icon {
  border: 1px solid var(--primary);
  border-radius: 50%;
}

.featuresList li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border);
  width: 100%;
  font-family: var(--roboto);
  font-weight: 700;
  color: var(--text);
}

.btnContainer {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .content {
    padding: 2rem 10rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .planName,
  .price,
  .description,
  .includes {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 668px) {
  .content {
    padding: 2rem 8rem;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 2rem;
  }
}
