.layout {
  z-index: 1000;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--neutral);
  /* border: 3px solid var(--border); */
}

@media screen and (max-width: 568px) {
  .layout {
    padding-right: 15px;
    padding-left: 15px;
  }
}
