.container {
  position: relative;
  z-index: 1;
}

.container::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -7px;
  top: 9px;
  width: 98%;
  height: 93%;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.btn {
  text-align: center;
  font-size: 1.8rem;
  white-space: nowrap;
  border-radius: 5px;
  user-select: none;
  transition: all 0.1s ease-in;
  display: inline-block;
  padding: 10px 35px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.btn:active {
  transform: translate(7px, 7px);
}

.primary {
  color: var(--neutral);
  background-color: var(--primary);
  border: 2.7px solid var(--primary);
}

.secondary {
  color: var(--text);
  background-color: var(--secondary);
  border: 2px solid var(--border);
}

.tertiary {
  color: var(--text);
  background-color: var(--neutral);
  border: 2px solid var(--primary);
}

@media screen and (max-width: 820px) {
  .btn {
    width: 100%;
  }
}
