.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--bebasneue);
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in;
  color: var(--text);
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.iconContainer {
  width: 40px;
  height: 40px;
  border: 1px solid var(--text);
  border-radius: 8px;
  display: grid;
  place-items: center;
  transition: all 0.1s ease-in;
}

.icon {
  color: var(--text);
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.iconContainer:hover {
  background-color: var(--primary);
}

.iconContainer:hover .icon {
  color: var(--secondary);
}

.bottom {
  border-top: 2px solid var(--border);
  padding: 1rem 0;
}

.copy {
  color: var(--text);
  hyphens: auto;
  text-align: justify;
  font-size: 1.4rem;
  width: fit-content;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .content, .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
