.header {
  margin-top: 1rem;
  font-family: var(--staatliches);
  color: var(--text);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.logo2 {
  font-size: 2.2rem;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in;
}

.logo2 {
  display: none;
}

.logo:hover {
  scale: 1.2;
}

.menuItemsGroup,
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.navItem {
  font-size: 2.2rem;
  position: relative;
}

.navItem::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 5px;
  background-color: var(--secondary);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.activeLink {
  position: relative;
}

.activeLink::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 5px;
  background-color: var(--secondary);
  border-radius: 8px;
}

.navItem:hover.navItem::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background-color: var(--secondary);
  border-radius: 8px;
}

.bottom {
  display: none;
}

.hamburger {
  display: none;
}

.whiteBar {
  display: block;
  width: 45px;
  height: 3px;
  margin: 5px auto;
  border-radius: 15px;
  background-color: var(--text);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 820px) {
  .header {
    margin-top: 2rem;
  }
  
  .navMenu {
    position: fixed;
    left: 0;
    top: -100%;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: 0.3s all ease-in;
    z-index: 998;
    background-color: var(--neutral);
    padding: 1rem;
  }

  .navMenu.active {
    top: 0%;
  }

  .logo2 {
    display: block;
    font-size: 4rem;
    position: relative;
  }

  .logo2::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color:  rgba(89, 31, 206, 0.2);
}
  
.logo2::before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color:  var(--secondary);
}

  .bottom {
    border-top: 1px solid var(--primary);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .copy {
    color: var(--text);
    hyphens: auto;
    text-align: justify;
    font-size: 1.4rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 999;
  }

  .hamburger.active .whiteBar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (min-width: 481px) {
  .content {
    animation: fadeIn 1s;
  }
}

@media screen and (max-width: 320px) {
  .logo2 {
    margin-top: 6rem;
  }

  .navMenu {
    padding:1rem;
  }
}