.container {
  margin-bottom: 20rem;
}

.content {
  padding: 5rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  width: 50%;
  text-align: center;
}

.copy {
  opacity: 0.7;
}

.bottom {
  margin-top: 3rem;
}

.heading2 {
  color: var(--text);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 3rem;
}

.serviceCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 5rem 0rem;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(89, 31, 206, 0.2);
  padding: 2rem;
  border-radius: 8px;
}

.icon {
  margin-bottom: 2rem;
}

.serviceTitle {
  text-align: center;
}

.description {
  opacity: 0.7;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 820px) {
  .content {
    padding: 1rem;
  }

  .serviceCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 0rem;
  }

  .heading {
    width: 100%;
  }

  .serviceCardContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
