.container {
  margin-top: 10rem;
  background-color: var(--border2);
  border-radius: 8px;
  margin-bottom: 8rem;
  padding-top: 5rem;
}

.container h2 {
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.copy {
  opacity: 0.7;
  width: 50%;
  text-align: center;
}

.workCulture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  position: relative;
  padding: 5rem 0rem;
}

.workCulture::after {
  content: "";
  top: -3%;
  left: 0;
  position: absolute;
  filter: blur(15rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 300px;
  height: 100px;
  background-color: var(--accent2);
  z-index: -1;
}

.workCulture::before {
  content: "";
  bottom: -5%;
  right: 10%;
  position: absolute;
  filter: blur(10rem);
  transform: translateZ(0);
  border-radius: 50%;
  width: 250px;
  height: 100px;
  background-color: var(--accent1);
  z-index: -1;
}

.card,
.card2,
.card3,
.card4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
}

.card2 {
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  gap: 0;
}

.card3 {
  gap: 0;
  align-items: flex-end;
  justify-content: flex-start;
}

.card4 {
  align-items: flex-start;
}

.card4 {
  flex-direction: column-reverse;
}

.heading {
  color: var(--primary);
}

.imgContainer {
  position: relative;
  height: 200px;
  width: 200px;
}

.img {
  object-fit: contain;
  border-top-left-radius: 200px;
  border: 1px solid var(--primary);
}

.img4 {
  object-fit: contain;
  border-bottom-right-radius: 200px;
  border: 1px solid var(--primary);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .imgContainer {
    position: relative;
    height: 175px;
    width: 175px;
  }

  .img {
    object-fit: contain;
    border-top-left-radius: 175px;
  }

  .img4 {
    object-fit: contain;
    border-bottom-right-radius: 175px;
  }
}

@media screen and (max-width: 528px) {
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .imgContainer {
    position: relative;
    height: 140px;
    width: 140px;
  }

  .img {
    object-fit: contain;
    border-top-left-radius: 200px;
    border: 1px solid var(--primary);
  }

  .img4 {
    object-fit: contain;
    border-bottom-right-radius: 140px;
    border: 1px solid var(--primary);
  }
}
